@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.container {
  position: absolute;
  

  /* width: 50%; */
}

.image {
  display: block;
  width: 40%;
  height: 80%;
  border-radius: 0.8em;
  opacity: 1;
  border: 0.1em solid #ddd;
  padding: 5px;
}
.image:hover {
  box-shadow: 0 0 0.2em 0.2em rgba(0, 140, 186, 0.5);
}



.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.row{
  padding-bottom: 1em;
   margin-left: 1em;
  /*margin-right: 0px; */
}
.column {
  float:left;
  width:14.2%;
  padding-left:0.05; 
   padding-top:0.5em; 
  padding-right: 0.05;
  /* padding-bottom: 0.5em; */
  margin:0;
}
.card-div{
  margin:0;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#browse-heading {
  padding-top: 0.5em;;
  font-size: 1.3em;
  padding-left: 1em;
  color: #dc143c;
}

#horizontal-ruler {
  opacity: .8;
  margin-left:2.5em;
  margin-right:2em;
  margin-top:0;
  margin-bottom: 0;
  width:96%;
}
#card-button{
  position: absolute;
  padding-bottom: 0.5em;
}
#carouse{
  padding-top: 20em;
}