body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Times New Roman', Times, serif; */
 
  /*background-image: linear-gradient(45deg, crimson, skyblue);*/
}

/* .single-accordion-div {
  background-color: grey !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Css for the AudioFile component */

.book-name {
  font-size: 2em;
  padding-left: 1em;
  font-family: cursive;
  margin: 0.2em;
}
.author-name {
  font-size: 1.5em;
  padding-left: 2em;
  margin: 0.2em;
  font-family: monospace;
}
.progress-bar{
  width: 85vw;
  margin: 0 5%;
  height: 0.75em;
  display: flex;
  flex-basis: 100%;
  position: relative;
  background: rgba(0,0,0,0.5);
  flex-direction: initial!important;
  justify-content: initial!important;
  cursor: ew-resize;
  margin-top: 1em;
}
.player-controls{
  height: 5em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.progress-filled{
  background: green;
  flex-basis: 50%;
  margin:0;
}
.player-slider{
  color: white;
}
.player-skip{
  border: none;
    padding: .5em;
    font-size: 1.2em;
    background: none;
}
/* .player-skip:focus{
  font-size: 150%;
}*/
.player-skip:hover{
  border:none;
  color:blue;
}
/* .player-skip:focus-visible{
  
} */
.player {
  width: 20rem;
  border: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  /*position: relative;*/
  display: flex;
  justify-content: center;
  margin: 0% 36%;
  align-items: center;
  height: 20rem;
  font-size: 0;
  overflow: hidden;
  /* background-image: url("https://i.pinimg.com/originals/f7/3a/5b/f73a5b4b7262440684a2b5c39e684304.jpg") */
}
.toggle{
  border-radius: 50%;
    font-size: 2.15em;
    margin: 1em;
    background: white;
    padding: 10px;
    border: 1px solid black;
}
.toggle:focus{
  outline:red;
  border:2px solid black;
}
.range-select{
  margin:2%;
}
.current-duration{
  position: absolute;
    top:75%;
    left: 0%;
    color: black;
}
.total-duration{
  position: absolute;
    top:75%;
    right: 0%;
    color:black;
}
.audio-description{
  margin: 1.2em;
    padding: 0.5em;
    border: 1px solid black;
    box-shadow: 5px 5px 13px darkslategrey;
    border-radius: 1.5em;
}
.book-recommendation-heading{
  margin-left: 1em;
}
.audio-page-hr{
  width: 97%;
  margin-top: 2em;
}
.div-for-settings{
  position:relative;
}
.audio-book-genre{
  margin-left: 2.7em;
    color: crimson;
}
/*Css for the Upload component*/

.upload-heading{
  color: crimson;
  margin-left: 1em;
}
.upload-label{
  margin-left: 1.5em;
  color:black;
  font-size: 1.2em;
  display: block;
}
.upload-input{
  margin-left:1.5em;
  width: 25em;
}
.upload-button{
  display: block;
    width: 25em;
    margin: 1.5em;
    background: crimson;
    color: white;
    border-radius: 1em;
    border: 1px solid white;
}
.search-result-ul{
  list-style:none;
}

.accordion-subcategory-list{
  list-style: none;
    /* padding: 0; */
    margin-left: 0;
}

#category-heading{
  padding :0.5em;
}

.pdf-book-view{
  width: 90%;
    margin-left: 2.2em;
    height: 85vh;
}
 
.subcategorylist{
  list-style:none;
}
.carousel{
  height:20em;
  margin-bottom:0.5em;
}
.carousel-image{
  height: 20em;
  width:84em;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  position: relative;
  text-align: center;
  color: white;
}
.centered1-second {
  position: absolute;
  top: 30%;
  left: 46%;
  color:white;
  font-size:1.8em;
  transform: translate(85%, -101%);
}
.centered2-second {
  position: absolute;
  top: 31%;
  left: 41%;
  color:white;
  font-size:1.8em;
  transform: translate(153%, -41%);
}
.centered1-first {
  /* position: absolute;
  top: 60%;
  left: 50%; */
  color:white;
  font-size:1.8em;
  transform: translate(-71%, -393%);
}
.centered2-first {
  /* position: absolute;
  top: 70%;
  left: 50%; */
  color:white;
  font-size:1.8em;
  transform: translate(-67%, -405%);
}
.btn {

  margin-top:1em;
  position: absolute;
  top: 33%;
  left: 62%;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  background-color:crimson;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-other{
  background-color:crimson;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position:absolute;
  top:31%;
  right:61%;
}

.icon{
  width:1.25em;
 
}

.ratings{
  padding:0em;
  width:0.5em;
}
.not-found-div{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-category-heading{
  font-size:1.8em;
  color:crimson;
  margin-bottom: 0;

}

.subcategoryTab{
  padding:0 !important;
  margin:0;
}
.savedbooks-heading{
  font-size:1.5em;
  color:crimson;
  margin-left:7em;
}
.hello-user{
  right:7em;
}
.search-book-heading{
  color: crimson;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 7em;
}
.dropbtn {
  background-color: white;
  color: crimson;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: crimson;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}